<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- ChartJS CDN -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <link rel="stylesheet" href="css/app.css">

  <title>Trader bot!</title>
</head>

<body>

  <h1>Binance</h1>

  <div style="height: 500px; width: 600px;">
    <canvas id="myChart"></canvas>
  </div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>

  <script>
    const labels = [
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'June',
      'June',
      'June',
      'June',
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'June',
      'June',
      'June',
      'June',
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'June',
      'June',
      'June',
      'June',
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'June',
      'June',
      'June',
      'June',
      'January',
      'February',
      'March',
      'April',
      'May',
      'June',
      'June',
      'June',
      'June',
      'June',
    ];

    const data = {
      labels: labels,
      datasets: [{
        label: 'My First dataset',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2000, -2000],
        // fill: false,
        // borderColor: 'rgb(0, 0, 0)',
        // tension: 0.1
      }]
    };

    const config = {
      type: 'line',
      data: data,
      options: {
        animation: false,
        // elements: {
        //     point: {
        //         radius: 0 // default to disabled in all datasets
        //     }
        // },
      }
    };

    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    function randomNumber(min, max) {
      min = Math.ceil(min);
      max = Math.floor(max);
      return Math.floor(Math.random() * (max - min + 1)) + min;
    }

    const updateData = function () {
      myChart.data.datasets[0].data[0] = myChart.data.datasets[0].data[1]
      myChart.data.datasets[0].data[1] = myChart.data.datasets[0].data[2]
      myChart.data.datasets[0].data[2] = myChart.data.datasets[0].data[3]
      myChart.data.datasets[0].data[3] = myChart.data.datasets[0].data[4]
      myChart.data.datasets[0].data[4] = myChart.data.datasets[0].data[5]
      myChart.data.datasets[0].data[5] = myChart.data.datasets[0].data[6]
      myChart.data.datasets[0].data[6] = myChart.data.datasets[0].data[7]
      myChart.data.datasets[0].data[7] = myChart.data.datasets[0].data[8]
      myChart.data.datasets[0].data[8] = myChart.data.datasets[0].data[9]
      myChart.data.datasets[0].data[9] = myChart.data.datasets[0].data[10]
      myChart.data.datasets[0].data[10] = myChart.data.datasets[0].data[11]
      myChart.data.datasets[0].data[11] = myChart.data.datasets[0].data[12]
      myChart.data.datasets[0].data[12] = myChart.data.datasets[0].data[13]
      myChart.data.datasets[0].data[13] = myChart.data.datasets[0].data[14]
      myChart.data.datasets[0].data[14] = myChart.data.datasets[0].data[15]
      myChart.data.datasets[0].data[15] = myChart.data.datasets[0].data[16]
      myChart.data.datasets[0].data[16] = myChart.data.datasets[0].data[17]
      myChart.data.datasets[0].data[17] = myChart.data.datasets[0].data[18]
      myChart.data.datasets[0].data[18] = myChart.data.datasets[0].data[19]
      myChart.data.datasets[0].data[19] = myChart.data.datasets[0].data[20]
      myChart.data.datasets[0].data[20] = myChart.data.datasets[0].data[21]
      myChart.data.datasets[0].data[21] = myChart.data.datasets[0].data[22]
      myChart.data.datasets[0].data[22] = myChart.data.datasets[0].data[23]
      myChart.data.datasets[0].data[23] = myChart.data.datasets[0].data[24]
      myChart.data.datasets[0].data[24] = myChart.data.datasets[0].data[25]
      myChart.data.datasets[0].data[25] = myChart.data.datasets[0].data[26]
      myChart.data.datasets[0].data[26] = myChart.data.datasets[0].data[27]
      myChart.data.datasets[0].data[27] = myChart.data.datasets[0].data[28]
      myChart.data.datasets[0].data[28] = myChart.data.datasets[0].data[29]
      myChart.data.datasets[0].data[29] = myChart.data.datasets[0].data[30]
      myChart.data.datasets[0].data[30] = myChart.data.datasets[0].data[31]
      myChart.data.datasets[0].data[31] = myChart.data.datasets[0].data[32]
      myChart.data.datasets[0].data[32] = myChart.data.datasets[0].data[33]
      myChart.data.datasets[0].data[33] = myChart.data.datasets[0].data[34]
      myChart.data.datasets[0].data[34] = myChart.data.datasets[0].data[35]
      myChart.data.datasets[0].data[35] = myChart.data.datasets[0].data[36]
      myChart.data.datasets[0].data[36] = myChart.data.datasets[0].data[37]
      myChart.data.datasets[0].data[37] = myChart.data.datasets[0].data[38]
      myChart.data.datasets[0].data[38] = myChart.data.datasets[0].data[39]
      myChart.data.datasets[0].data[39] = myChart.data.datasets[0].data[40]
      myChart.data.datasets[0].data[40] = myChart.data.datasets[0].data[41]
      myChart.data.datasets[0].data[41] = myChart.data.datasets[0].data[42]
      myChart.data.datasets[0].data[42] = myChart.data.datasets[0].data[43]
      myChart.data.datasets[0].data[43] = myChart.data.datasets[0].data[44]
      myChart.data.datasets[0].data[44] = myChart.data.datasets[0].data[45]
      myChart.data.datasets[0].data[45] = myChart.data.datasets[0].data[46]
      myChart.data.datasets[0].data[46] = myChart.data.datasets[0].data[47]
      myChart.data.datasets[0].data[47] = myChart.data.datasets[0].data[48]
      myChart.data.datasets[0].data[48] = myChart.data.datasets[0].data[49]
      myChart.data.datasets[0].data[49] = randomNumber(-1000, 1000)
    };

    setInterval(() => {
      updateData();
      myChart.update();
    }, 1000)

  </script>

</body>

</html>